* {
    border: none;
    border-radius: 0;
    font-family: Monospace;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: rgba(25, 17, 30, 1.0);
    border-bottom: 3px solid rgba(25, 17, 30, 1.0);
    color: #d8d6d7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 2px 5px;
    background-color: #19111e;
    color: #AB9C99;
    border-bottom: 3px solid #19111e;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #19111e;
    color: #d8d6d7;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #19111e;
    color: #d8d6d7;
    border-bottom: 3px solid #AF2E0E;
}

#mode {
    background-color: #19111e;
    border-bottom: 3px solid #AF2E0E;
}

#clock,
#battery,
#pulseaudio,
#mode
{
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#clock {
    background-color: #19111e;
    color: #d8d6d7;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    background-color: #19111e;
    color: #d8d6d7;
}

#pulseaudio.muted {
    background-color: #19111e;
    color: #d8d6d7;
}
